@tailwind base;
@tailwind components;
@tailwind utilities;

.theme {
  --mark-it: rgba(175, 40, 47, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --yellow: rgba(232, 201, 153, 1);
  --grey-1: rgba(133, 133, 133, 1);
  --grey-2: rgba(179, 179, 179, 1);
  --grey-3: rgba(217, 217, 217, 1);
  --grey-4: rgba(232, 232, 232, 1);
  --grey-5: rgba(245, 245, 245, 1);
  --btn-font-family: "Wanted Sans-bold", Helvetica;
  --h1-font-family: "Wanted Sans-medium", Helvetica;
  --h2-font-family: "Pretendard-medium", Helvetica;
  --h2-bold-font-family: "Pretendard-bold", Helvetica;
  --h2-light-font-family: "Pretendard-light", Helvetica;
  --url-font-family: "Pretendard-medium", Helvetica;
}
